Gemfile.lock
bin/
*.suo
*.user
obj/
*resharper*
packages/
AccountDetails.cs
AccountDetails.fs
csx/
build/
Profiles/
ServiceConfiguration.Cloud.cscfg
TestResult.xml
SolutionVersion.cs
NuGet.exe
NuGet.exe.old
